# Informa que Esta Configuração é a Principal do Projeto;
root = true

# Informa que Esta Configuração Serve para Todos os Arquivos;
[*]

# Estilo da Indentação;
indent_style = space
# Tamanho da Indentação;
indent_size = 2
# "lf" é o Mais Compatível Entre Sistemas Operacionais;
end_of_line = lf
# Formatação dos Caracteres do Código;
charset = utf-8
# Obriga a Colocar Espaços Depois de Símbolos (", ");
trim_trailing_whitespace = true
# Finaliza Arquivos Com Uma Linha em Branco;
insert_final_newline = true
